// ---styling---

$brand-button-grey: #ddd;
$brand-button-green: #80cbc4;
$brand-header-bar-blue: #00bbd3;
$brand-background: #282828;
$brand-edit: #024d69;


// ---text---

$brand-title-white: #fff;
$brand-regular-text: rgba(255, 255, 255, 0.6);
$brand-placeholder-text: rgba(255, 255, 255, 0.4);
$brand-green-text: #92cbc5;
$brand-button-text-grey: #1c1c1c;


// ---formating---
$gutter: 0.5rem;
$max-content-width: 25rem;
$brand-border: 1px solid $brand-placeholder-text;
