.all-run-screen {
  display: flex;
}

.all-run-form__input {
  flex-grow: 1;
  background-color: $brand-background;
  border: 0;
  border-bottom: 1px solid $brand-regular-text;
}

::-webkit-input-placeholder {
   color: $brand-placeholder-text;
}

.all-run-form-buttons {
  display: flex;
  justify-content: flex-start;

  &__save {
    padding: .5rem 1rem;
    margin-left: 2rem;
    border-radius: 0px;
    background-color: $brand-button-green;
    color: white;
    border: 0;
  }

  &__cancel {
    padding: .5rem 1rem;
    border-radius: 0px;
    border: 0;
  }
}
