@import 'variables';
@import 'form';
// @import 'font-awesome';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 $gutter;
  font-style: $font-family;
}

ul {
  padding-left: 0;
  list-style: none;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;

  &__content {
    flex-grow: 1;
  }

  .container {
    max-width: 60rem;
    margin: auto;
  }

  .top-nav {
    margin: 0 (-$gutter);
    background: $brand-header-bar-blue;
    color: $brand-title-white;
    font-size: 1.6rem;
    overflow: auto;

    &__title {
      color: inherit;
      text-decoration: none;
    }
  }
}
