.new-run-screen {
  display: flex;
  flex-direction: column;
  background-color: $brand-background;
  color: $brand-regular-text;
  margin: 1rem;
}

.new-run-form__title {
  color: $brand-title-white;
}

.new-run-form__label {
  display: none;
}

.new-run-form__input {
  width: 100%;
  margin-top: 1rem;
  background-color: $brand-background;
  border: 0;
  border-bottom: 1px solid $brand-regular-text;
  font-size: $font-size;
}

::-webkit-input-placeholder {
   color: $brand-placeholder-text;
}


.new-run-form-buttons {
  display: flex;
  justify-content: flex-start;

  &__save {
    padding: .5rem 1rem;
    margin-left: 2rem;
    border-radius: 0px;
    background-color: $brand-button-green;
    color: white;
    border: 0;
  }

  &__cancel {
    padding: .5rem 1rem;
    border-radius: 0px;
    border: 0;
  }
}
