{{}}

{{outlet}}

<header class="detail-header">
  <h1 class="detail-header__title">My Run</h1>
</header>

<div class="run-detail-container">
  <form class="run-detail-form">
    <div class="run-info">
      {{input class="run-info__field detail-date" placeholder="April 10, 2016" type="text" value=model.runDate}}
      {{input class="run-info__field detail-time" placeholder="00:28:25" type="text" value=model.runTime}}
    </div>
    <div class="run-info">
      {{textarea class="run-info__detail" autoresize=true rows="7" max-rows="20" cols="42" placeholder="Today, is a day like no other, tis the best day on the planet to be alive" type="msg" value=model.raceNote}}
    </div>
    <div class="run-info">
      {{#link-to "index"}}<button class="run-info__button back fa fa-chevron-left"></button>{{/link-to}}
      <button class="run-info__button update fa fa-pencil"></button>
    </div>
  </form>
</div>
