{{outlet}}

<header class="detail-header">
  <h1 class="detail-header__title">My Run</h1>
</header>

<div class="run-detail-container">
  <div class="run-detail-form">
    {{!-- **Is it better to use a div or form here?** --}}
    <div class="run-info">
      <h4 class="run-info__field detail-date">{{model.runDate}}</h4>
      <h4 class=="run-info__field detail-time">{{model.runTime}}</h4>{{!-- **Is it better to use input here?** --}}
    </div>

    <div class="run-info">
      <p class="run-info__detail">{{model.raceNote}}</p>
      {{!-- **Is it better to use textarea here?** --}}
    </div>

    <div class="run-info">
      {{#link-to "index"}}<button class="run-info__button back fa fa-chevron-left"></button>{{/link-to}}
      {{#link-to "edit" model._id}}<button class="run-info__button update fa fa-pencil"></button>{{/link-to}}
    </div>
  </div>
</div>
