{{!-- ember--}}

{{!-- <h2 id="title">Welcome to Ember</h2> --}}

<div class="nav-container">
  <nav class="nav">
    <h1 class="title">Run Timer</h1>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/scss'>
  </nav>
</div>

<div class="app-container">{{outlet}}</div>
