{{!-- https://github.com/emilyannz/run-timer-16/pull/1 --}}

{{!-- <h2 id="title">Welcome to Ember</h2> --}}

<div class="app">
  <header>
    <nav class="top-nav">
      <div class="container">
        <ul class="top-nav">
          <li class="top-nav__title">Run Timer</li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="app__content">
    <div class="container">
      {{outlet}}
    </div>
  </div>
</div>
